@model PagedList<Article>

@Html.Partial("_ArticleTable", Model)
<div><div style="float:left;width:50%">共 @Model.TotalPageCount 页 @Model.TotalItemCount 条记录，当前为第 @Model.CurrentPageIndex 页</div>
@Ajax.Pager(Model).Options(o=>o.SetPageIndexParameterName("id").AddHtmlAttribute("style","float:right").SetPagerItemTemplate("&nbsp;{0}")).AjaxOptions(a=>a.SetUpdateTargetId("articles").SetDataFormId("searchForm"))
</div>