@model PagedList<Article>

<table class="table table-striped table-bordered">
    <tr>
        <th class="nowrap">序号</th>
        <th class="nowrap">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="nowrap">
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th class="nowrap">
            @Html.DisplayNameFor(model => model.Source)
        </th>
    </tr>
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@(Model.StartItemIndex + i++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
        </tr>
    }
</table>