@model PagedList<Order>

<table class="table table-striped table-bordered">
    <tr>
        <th class="nowrap">
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th class="nowrap">
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th class="nowrap">
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th class="nowrap">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
        </tr>
    }
</table>