<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Webdiyer (http://en.webdiyer.com)" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
    <body>
        <div class="container">
            <div id="header">
                <div class="superHeader">
                    <div class="right">
                        <a href="http://en.webdiyer.com" target="_blank">Official site</a> |
                        <a href="http://en.webdiyer.com/mvcpager" target="_blank">Documentation</a>
                    </div>
                </div>
                <div class="midHeader">
                    <h1 class="headerTitle">MvcPager 3.0 For ASP.NET MVC 4.0+</h1>
                </div>
                <div class="subHeader">
                    <a href="/">Overview</a> |
                    <a href="/home/demo/" class="highlight">Demos</a>
                </div>
            </div>
                                @RenderBody()
        <div id="footer">
            &copy;2010-2015 <a href="http://en.webdiyer.com/about/">Webdiyer</a>
        </div>
            </div>
            @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

            @RenderSection("scripts", false)
</body>
</html>
